[submodule "frontend"]
	path = frontend
	url = https://github.com/ThawinXD/story-point-discussion-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/ThawinXD/story-point-discussion-backend.git
